@import './media-query-mixins';

%box-border {
  box-shadow: 0 0 0 1px rgba(black, 0.2);
}

%stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  //height: 100%;
  box-sizing: border-box;
  padding-top: 60px;

  @include media('>phone') {
    padding: 70px 0;
  }
}
