@import '../../shared/styles/index.scss';

.favorites {
  @extend %stage;

  .inner {
    width: 100%;
    margin-top: 10px;

    @include media('>phone') {
      width: 1200px;
      max-width: 90vw;
      margin-top: 5vh;
    }

    h1 {
      padding: 0 5vw;
      @extend %popIn;
      display: inline-block;

      @include media('>phone') {
        padding: 0 10px;
      }
    }

    .zeroState {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 0 10vw;
        margin-top: 100px;
        font-weight: normal;
        color: $red;
        @extend %popIn;
        animation-delay: 0.2s;
      }

      svg {
        height: 70px;
        margin-top: 20px;
        color: lighten($red, 30%);
        @extend %slideUp;
        animation-delay: 0.4s;
        animation-duration: 2s;
      }
    }
  }

  ul {
    $cardSpacing: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 0 0 0 calc(5vw - #{$cardSpacing});
    width: 100%;

    @include media('>phone') {
      flex-wrap: wrap;
      overflow: auto;
      padding: 0;
    }

    li {
      border: 1px solid rgba(black, 0.2);
      @extend %popIn;
      width: calc(55vw - #{2 * $cardSpacing});
      margin: $cardSpacing $cardSpacing;
      padding: 20px;
      box-sizing: border-box;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      flex-shrink: 0;
      background: white;

      @include media('>phone') {
        width: calc(20% - #{2 * $cardSpacing});
        height: 250px;
      }

      &.spacer {
        width: 5vw;
        border: none;
        min-width: 0;
        margin: 0;
        padding: 0;

        @include media('>phone') {
          display: none;
        }
      }

      &.dark {
        border: 1px solid rgba(white, 0.2);
        background: darken($black, 3%);
      }

      @for $i from 0 to 50 {
        &:nth-of-type(#{$i + 1}) {
          animation-delay: #{$i * 0.1}s;
        }
      }

      h2 {
        margin: 0 0 15px;
      }

      img {
        margin: #{3 * $cardSpacing} 0 $cardSpacing 0;
      }

      .temp {
        display: flex;
      }

      .date {
        opacity: 0.3;
      }

      .number {
        font-size: 2em;
        font-weight: bold;
      }

      .unit {
        transform: translateY(16px);
      }
    }
  }
}
