@import '../../shared/styles/index.scss';

.favorites {
  @extend %stage;

  .inner {
    width: 1200px;
    margin-top: 10px;

    h1 {
      padding-left: 10px;
      @extend %popIn;
      display: inline-block;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      $cardSpacing: 10px;
      @extend %box-border;
      @extend %popIn;
      width: calc(20% - #{2 * $cardSpacing});
      margin: $cardSpacing $cardSpacing;
      padding: 20px;
      box-sizing: border-box;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;

      @for $i from 0 to 50 {
        &:nth-of-type(#{$i + 1}) {
          animation-delay: #{$i * 0.1}s;
        }
      }

      h2 {
        margin: 0 0 15px;
      }

      img {
        margin: #{3 * $cardSpacing} 0 $cardSpacing 0;
      }

      .temp {
        display: flex;
      }

      .date {
        opacity: 0.3;
      }

      .number {
        font-size: 2em;
        font-weight: bold;
      }

      .unit {
        transform: translateY(16px);
      }
    }
  }
}
