@import '../styles';

.switch {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  height: 50px;
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
  border-radius: 3px;
  border: 1px solid darken($purple, 40%);

  &.dark {
    border: 1px solid lighten($purpleDark, 15%);
  }
}

.switchItem {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;

  & > div {
    transform: translateY(-1px);
  }
}

.indicator {
  background: $purple;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;

  &.dark {
    background: $purpleDark;
  }
}
